@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 15 23 42;
    --color-secondary: 241 245 249;
    --color-accent: 59 130 246;
    --color-text: 15 23 42;
    --color-border: 223 222 218;
    --color-button: 209 213 219;
  }

  .dark {
    --color-primary: 241 245 249;
    --color-secondary: 15 23 42;
    --color-accent: 96 165 250;
    --color-text: 241 245 249;
    --color-border: 51 65 85;
    --color-button: 30 58 138;
  }
}