@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f8fafc;
  --color-card: #ffffff;
  --color-card-border: #e2e8f0;

  --color-button: #3b82f6;
  --color-button-hover: #2563eb;

  --color-text-input: #f1f5f9;
  --color-text-input-border: #cbd5e1;

  --color-title: #0f172a;
  --color-text: #334155;
  --color-text-secondary: #64748b;
  --color-text-selected: #00ff00;

  --color-state: #93c5fd;
  --color-state-starting: #3b82f6;
  --color-state-terminating: #fca5a5;
  --color-state-active: #7dd3fc;
  --color-transition: #64748b;
  --color-transition-active: #f59e0b;
}

.dark {
  --color-primary: #0f172a;
  --color-card: #1e293b;
  --color-card-border: #334155;

  --color-button: #3b82f6;
  --color-button-hover: #60a5fa;

  --color-text-input: #1e293b;
  --color-text-input-border: #475569;

  --color-title: #f8fafc;
  --color-text: #e2e8f0;
  --color-text-secondary: #94a3b8;
  --color-text-selected: #00ff00;

  --color-state: #1d4ed8;
  --color-state-starting: #fcfc02;
  --color-state-terminating: #b91c1c;
  --color-state-active: #0284c7;
  --color-transition: #94a3b8;
  --color-transition-active: #d97706;
}